.sidebar {
    width: 20%;
    min-height: 100vh;
    /* background-color: rgba(0, 0, 0, .5); */
    background: rgba(22, 33, 62, 0.50);
    backdrop-filter: blur(7px);
    color: white;
    font-size: 50px;
    font-family: 'Days One';
}